<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="SqlServerStr" connectionString="Data Source=SSQL3;Initial Catalog=MontanaInternos;Integrated Security=False;User Id=sa;Password=cocoroco" providerName="System.Data.SqlClient"/>
    <add name="SqliteStr" connectionString="Data Source=MontanaInternos.db;Connection Timeout=3600" providerName="System.Data.SQLite"/>
  </connectionStrings>
</configuration>
