<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="SqlServerStr" connectionString="Data Source=SSQL;Initial Catalog=MontanaInternos;Integrated Security=False;User Id=sa;Password=cocoroco" providerName="System.Data.SqlClient"/>
    <add name="SqliteStr" connectionString="Data Source=MySqlite.db;" providerName="System.Data.SQLite"/>
  </connectionStrings>
</configuration>
